@font-face {
    font-family: "Backhome";
    src: url(../font/Backhome.otf);
  }
  @font-face {
    font-family: "Quick-fox";
    src: url(../font/Quick-Fox.ttf);
  }
  @font-face {
    font-family: "Plasto-trial";
    src: url(../font/PlastoTrial-ExtBdCondIta.otf);
  }
  
  @font-face {
    font-family: "Agency";
    src: url(../font/Agency.ttf);
  }
  @font-face {
    font-family: "RenogareSoft";
    src: url(../font/RenogareSoft-Regular.ttf);
  }
  @font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
  }